# https://render.com/docs/blueprint-spec#databases
services:
  - type: web
    name: em-bank-rest
    env: docker
    plan: free
    region: frankfurt
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_HOST
        fromDatabase:
          name: em_bank_db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: em_bank_db
          property: port
      - key: DB_NAME
        fromDatabase:
          name: em_bank_db
          property: database
      - key: DB_USER
        fromDatabase:
          name: em_bank_db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: em_bank_db
          property: password
      - key: SPRING_PROFILES_ACTIVE
        value: dev
      - key: PORT # https://render.com/docs/web-services#port-binding
        value: 8080
    healthCheckPath: /actuator/health
    autoDeployTrigger: 'off'

databases:
  - name: em_bank_db
    postgresMajorVersion: '17'
    region: frankfurt
    plan: free
    databaseName: em_bank_rest
