# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: em-bank-rest

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Run Test
      run: mvn test

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: '**/target/surefire-reports/TEST-*.xml'

    - name: Publish Jacoco report to GitHub Pages
      if: ${{ github.event_name == 'push' }}
      uses: peaceiris/actions-gh-pages@v4
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        external_repository: slappidyslap/slappidyslap.github.io
        publish_branch: master
        publish_dir: ./target/site/jacoco/
        destination_dir: ./em-bank-rest/jacoco/
        commit_message: publish em-bank-rest code coverage report

    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

  push_docker_hub:
    if: ${{ github.event_name == 'push' }}
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Extract project version
        id: extract_version
        run: |
          echo "VERSION=$(./mvnw -q \
            -Dexec.executable='echo' \
            -Dexec.args='${project.version}' \
            --non-recursive exec:exec)" >> $GITHUB_OUTPUT

      - name: Build Docker image via Buildpacks
        run: |
          ./mvnw spring-boot:build-image \
            -Dspring-boot.build-image.imageName=${{ secrets.DOCKER_USERNAME }}/em-bank-rest:${{ steps.extract_version.outputs.version }} \
            -Dmaven.test.skip=true

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/em-bank-rest:${{steps.extract_version.outputs.VERSION}}
            ${{ secrets.DOCKERHUB_USERNAME }}/em-bank-rest:latest
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/em-bank-rest:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/em-bank-rest:buildcache,mode=max

  deploy-app:
    if: ${{ github.event_name == 'push' }}
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Render.com
      env:
        deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
      run: |
        curl "$deploy_url"
